/*estilos bgl*/
    .logo {
    display: block;
    background: transparent url(../IMG/LOGO\ BGL.png)no-repeat top left;
    margin-top: -50px;
    width: 211px;
    height: 167px;
    float:left;   
    text-indent: 100%;  
    white-space: nowrap;
    }
    
    #fullwidth-slider {
        float:left;
        width:100%;
    }
    .center {
        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 10px;
      }
    .fondo {
        background-color:#e9ecef;
      }
    .link{
        color: #ffffff;
    }
    section#contenido {
        width: 900px;
        margin: 0 auto;
        padding: 10px 0;
    }
    article#empacadora {
        width: 900px;
        margin: 0 auto;
    }
    article#mision {
        display: inline-block;
        width: 366px;
        padding-right: 64px;
        margin-left: 20px;
        border-right: 1px dashed #c3c0b1;
    }
    article#vision {
        display: inline-block;
        width: 366px;
        padding-left: 64px;
        vertical-align: top;
    }
    /*slider*/

    .slider{
        width: 95%;
        margin: auto;
        overflow: hidden;
    }
    .slider ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite;
        animation-direction: alternate;
    }
    .slider li{
        width: 100%;
        list-style: none;
    }
    .slider img {
        width: 100%;
    }
    @keyframes cambio{
        0%{margin-left:0;}
        20%{margin-left:0;}

        25%{margin-left:-100%;}
        45%{margin-left:-100%;}

        50%{margin-left:-200%;}
        70%{margin-left:-200%;}

        75%{margin-left:-300%;}
        100%{margin-left:-300%;}
    }
